@charset "ISO-8859-1";
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.esconder-id {
	display: none;
}

#campo-search {
	margin-top: 25px;
}

#titulo-padding {
	padding-top: 20px;
	padding-bottom: 20px;
}

.btn-cadastro {
	border:0;
	background: #90CBFB;
	width: 100px;
	border-radius: 5px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}


main {
	height: 500px;
}

footer {
	background-color: #506AD4 !important;
}

nav {
	background-color: #506AD4 !important;
}

body {
	height: 100vh;
}

.home-capa {
	display: flex;
	flex-direction: row;
}
 
